<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		

		<add name="Bil372" connectionString="Server=DESKTOP-R2438JO\SQLEXPRESS;Database=Bil372;Trusted_Connection=True;" providerName="System.data.SqlClient"/>

	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>